<!DOCTYPE html>

<html>
    <head>
        <link href="/submitted.css" rel="stylesheet" type="text/css"  />
        <!-- <style>
            body{ background-color: brown;}
        </style> -->
    </head>
    <body>
        
        <h1>Meeting Agenda Submitted</h1>
        <a href="/agenda"> Click here to return </a>
        
    
        
    </body>
</html>